.body {
    background:  #F5F5DC;
    display: grid;
    font-family: "Varela Round", sans-serif;
}

.mainButton{
    color:goldenrod;
    font-size: 20px;


}
.space {
    white-space: pre-line; /* collapse WS, preserve LB */
}
.check_box{

    font-size: 20px;
    font-family: "Varela Round", sans-serif;

}
.Checkbox{
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
}
.firstName{
    grid-gap: 10px;
    margin: 10px;
    width: 1300px;
    height: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
}
.lastName{
    grid-gap: 10px;
    margin: 10px;
    width: 1300px;
    height: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
}
.zip{
    grid-gap: 10px;
    margin: 10px;
    width: 1300px;
    height: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
}
.phoneNumber{
    grid-gap: 10px;
    margin: 10px;
    width: 1300px;
    height: 50px;
    font-family: "Varela Round", sans-serif;
    font-size: 17px;
}


